{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>SaleOn!</title>
  </head>
  <style>

      .ddd:hover a{
        color: #000000 !important;
      }
      .ddd:hover img{
        display: inline-block;
        transform: scale(0.8) !important;
      }
      .wrapper a{
        color: #ffc107;
      }
      .aaa img:hover{
        display: inline-block;
        transform: scale(.8) !important;
      }
      .hr{
        border: 3px;
      }


  </style>
  <body style="background: #4a4948; color: #FFFFFF !important;">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <h1 class="navbar-brand" style="font-size: 2em;"><a href="{% url 'home' %}" style="text-decoration: none; color: #ffffff">CouponOn!</a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRespons">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarRespons">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="{% url 'home' %}" class="nav-link active">Главная</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'about' %}" class="nav-link">О нас</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'mate' %}" class="nav-link">Партнёрам</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  <br>
  <div class="container" style="text-align: center;">
        <h3>Скидки и промокоды</h3>
    </div>
  <br>
    <div class="container" style="border: #353a40 3px solid;border-radius: 20px;">
      <div class="row" style="text-align: center;">
         <div class="col-sm-3 col-4 mx-auto ddd" style="margin-top: 1.5%; margin-bottom: 1.5%;">
             <img style="transform: scale(0.6);" src="{% static 'main/img/eat.png' %}" onclick="location='/cafes/1'"/>
             <h6 style="margin-top: 1.5%;">Кафе и рестораны</h6>
          </div>
          <div class="col-sm-3 col-4 mx-auto ddd" style="margin-top: 1.5%; margin-bottom: 1.5%;">
              <img style="transform: scale(0.6);" src="{% static 'main/img/shop.png' %}" onclick="location='/shops/1'"/>
              <h6 style="margin-top: 1.5%;">Магазины</h6>
          </div>
          <div class="col-sm-3 col-4 mx-auto ddd" style="margin-top: 1.5%; margin-bottom: 1.5%;">
              <img style="transform: scale(0.6);"src="{% static 'main/img/travel.png' %}" onclick="location='/travels/1'"/>
              <h6 style="margin-top: 1.5%;">Путешествия</h6>
          </div>
      </div>
        <div class="row" style="text-align: center;">
          <div class="col-sm-3 col-4 mx-auto ddd" style="margin-top: 1.5%; margin-bottom: 1.5%;">
              <img style="transform: scale(0.6); "src="{% static 'main/img/fun.png' %}" onclick="location='/fun/1'"/>
              <h6 style="margin-top: 1.5%;">Развлечения</h6>
          </div>
          <div class="col-sm-3 col-4 mx-auto ddd" style="margin-top: 1.5%; margin-bottom: 1.5%;">
              <img style="transform: scale(0.6); "src="{% static 'main/img/med.png' %}" onclick="location='/med/1'"/>
              <h6 style="margin-top: 1.5%;">Красота и здоровье</h6>
          </div>
          <div class="col-sm-3 col-4 mx-auto ddd" style="margin-top: 1.5%; margin-bottom: 1.5%;">
              <img style="transform: scale(0.6); "src="{% static 'main/img/study.png' %}" onclick="location='/study/1'"/>
              <h6 style="margin-top: 1.5%;">Учёба</h6>
          </div>
        </div>
        <div class="row" style="text-align: center;">
          <div class="col-sm-3 col-4 mx-auto ddd" style="margin-top: 1.5%; margin-bottom: 1.5%;">
              <img style="transform: scale(0.6); "src="{% static 'main/img/oneshop.png' %}" onclick="location='/oneshop/1'"/>
              <h6 style="margin-top: 1.5%;">Отдельные товары</h6>
          </div>
          <div class="col-sm-3 col-4 mx-auto ddd" style="margin-top: 1.5%; margin-bottom: 1.5%;">
              <img style="transform: scale(0.6); "src="{% static 'main/img/car.png' %}" onclick="location='/car/1'"/>
              <h6 style="margin-top: 1.5%;">Авто</h6>
          </div>
          <div class="col-sm-3 col-4 mx-auto ddd" style="margin-top: 1.5%; margin-bottom: 1.5%;">
              <img style="transform: scale(0.6); "src="{% static 'main/img/other.png' %}" onclick="location='/other/1'"/>
              <h6 style="margin-top: 1.5%;">Разное</h6>
          </div>
      </div>
    </div>
    <br>
    <div class="container" style="text-align: center;">
        <h3>Самые большие скидки!</h3>
    </div>
    {% if tasks %}
    {% for el in tasks %}
    <div id="{{el.placeType}}" class="container" style="background-color: #353a40;margin-top: 1.5%; margin-bottom: 1.5%; border-radius: 20px;"  onclick="location='../{{el.id}}'">
        <div class="row">
          <div class="col-sm-4" style="margin-top: 2.5%; margin-bottom:1.5%">
            <img src="{{el.image.url}}" alt="альтернативный текст" class="img-fluid">
          </div>
          <div class="col-sm-5" style="margin-top: 1.5%; margin-bottom:1.5%">
            <h3>{{el.title}}</h3>
            <h5>{{el.servis}}</h5>
            <h6>Город: Москва</h6>
            <h6>Метро: {{el.metro}}</h6>
            <h6>Адрес: {{el.address}}</h6>
          </div>
          <div class="col-sm-2 col-md-3" style="margin-top: 1.5%; margin-bottom:1.5%;">
            <h2 style="vertical-align:middle; text-align: right;">{{el.saleType}} до: {{el.sale}}%</h2>
              {% if el.dateFor %}
                <h6 style="vertical-align:middle; text-align: right;">До: {{el.dateFor}}</h6>
              {% endif %}
          </div>
        </div>
     </div>
    {% endfor %}
  {% else %}
    <h4 style="text-align:center;margin-top: 1.5%;">Здесь пока ничего нет, но скоро появится!</h4>
  {% endif %}
  </body>
</html>